<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="true">
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets async="true">
		<target name="consola" xsi:type="ColoredConsole" encoding="utf-8" stderr="true" detectConsoleAvailable="true" 
				layout="Endpoint: ${aspnet-request-endpoint} | Autenticado: ${aspnet-user-isauthenticated} | ${MicrosoftConsoleLayout}">
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		
		</target>
		<target name="archivo" xsi:type="File" encoding="utf-8" fileName="..\..\..\logs\logs-api-${shortdate}.log"  />
	</targets>

	<rules>
		<!-- Reglas para disminuir los logs de Microsoft -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Warn" writeTo="consola,archivo" final="true" />
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Warn" writeTo="consola,archivo" final="true" />
		<logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Warn" writeTo="consola,archivo" final="true" />
		<logger name="Microsoft.AspNetCore.Server.Kestrel" minlevel="Warn" writeTo="consola,archivo" final="true" />
		<logger name="Microsoft.AspNetCore.Mvc.Infrastructure" minlevel="Warn" writeTo="consola,archivo" final="true" />
		<logger name="Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager" minlevel="Warn" writeTo="consola,archivo" final="true" />

		<!-- Regla general para otros logs de Microsoft -->
		<logger name="Microsoft.*" minlevel="Warn" writeTo="consola,archivo" final="true" />
		<logger name="*" minlevel="Info" writeTo="consola" />
		<logger name="*" minlevel="Warn" writeTo="archivo" />

		<logger name="MD_Tech.*" minlevel="Debug" writeTo="consola, archivo" />
	</rules>
</nlog>
